<!DOCTYPE html>
<html>
  <head>
    <title>Sindicatos BR</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<% if request.fullpath == "/users/sign_in" %>login<% else %>nav-md<% end %>" >
    <%= yield %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>